server.port: 8082
spring.application.name: customer

resilience4j: # must-have in resilient microservice
  bulkhead:
    instances:
      fat-query:
        max-concurrent-calls: 2
  retry:
    instances:
      retry:
        max-attempts: 3
        wait-duration: 500ms
        retry-exceptions:
          - feign.FeignException.ServiceUnavailable
          - feign.RetryableException #eg Timeout
    retry-aspect-order: 2
  circuitbreaker:
    circuit-breaker-aspect-order: 1
    instances:
      circuit:
        sliding-window-size: 10
        sliding-window-type: time_based
        failure-rate-threshold: 99

        wait-duration-in-open-state: 3s

        permitted-number-of-calls-in-half-open-state: 10

spring:
  cloud:
    openfeign:
      client:
        config:
          server:

            # wait for server to accept your TCP/IP connection
            connect-timeout: 100
            # wait for server to repond to your request
            read-timeout: 300